
<section class="hero">
    <ul class="hero-slider autoplay">
      <li class="selected">
        <div class="full-width fill">
         <img class="hero-image" src="/assets/img/img-1.jpg" alt="She Had To Die Doll">
         <div class="shadow"></div>
        </div> 
      </li>

      <li>
        <div class="full-width fill">
          <img class="hero-image" src="/assets/img/img-3.jpg" alt="She Had To Die">
          <div class="shadow"></div>
        </div>
      </li>

      <li>
        <div class="full-width fill">
          <img class="hero-image" src="/assets/img/img-2.jpg" alt="She Had To Die">
          <div class="shadow"></div>
        </div>
      </li>

      <li class="bg-video">
        <div class="full-width">
         
        </div> 

        <div class="bg-video-wrapper" data-video="assets/video/video">
          <!-- video element will be loaded using jQuery -->
        </div> 
      </li>

      <li>
        <div class="full-width fill">
          <img class="hero-image" src="/assets/img/img-4.jpg" alt="She Had To Die">
          <div class="shadow"></div>
        </div> 
      </li>
    </ul> 

    <div class="slider-nav">
      <nav>
        <span class="marker item-1"></span>

        <ul>
          <li class="selected"><a href="#0">*</a></li>
          <li><a href="#0">*</a></li>
          <li><a href="#0">*</a></li>
          <li><a href="#0">*</a></li>
          <li><a href="#0">*</a></li>
        </ul>
      </nav>
    </div> 
  </section> 
